<h1>LOGIN</h1>
<form action='/auth/login' method='POST'>
    <input type='text' name='email' placeholder='email' />
    <input type='password' name='password' placeholder='password' />
    <input type='submit' value='login!' />
</form>
<a href="/auth/register">Not registered? Click here</a>
<div>Forgot your password?<span><a href="/api/sessions/recover-pass">Click here</a></span></div>
<h1>Or login with:</h1>
<div>
    <a href='/api/sessions/github'>GitHub</a>
</div>
