<div>
    <form id="edit_user_form" user_id="{{userId}}">
        <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{firstName}}">
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{lastName}}">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{email}}">
        
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="user"{{#if (eq role 'user')}} selected{{/if}}>User</option>
            <option value="admin"{{#if (eq role 'admin')}} selected{{/if}}>Admin</option>
            <option value="premium"{{#if (eq role 'premium')}} selected{{/if}}>Premium</option>
        </select>
        </div>
        <div style="display: flex; justify-content: flex-start; margin: 1%">
        <button type="button" id="save-button">Save Changes</button>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: flex-start; margin-top: 5%;">
    <button id="delete_button">Delete user</button>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    const editUserForm = document.getElementById('edit_user_form');
    const saveButton = document.getElementById('save-button');
    const deleteButton = document.getElementById("delete_button")
    saveButton.addEventListener('click', () => {
        const userId = editUserForm.getAttribute('user_id');
        const formData = new FormData(editUserForm)
        const formValues = {}
        let i = 0
        for (let [key, value] of formData.entries()) { 
        formValues[key] = value;
        
}
    fetch(`/api/users/${userId}`, {
    method: 'PUT',
    headers: {
        'Content-Type': 'application/json' 
    },
    body: JSON.stringify(formValues)
})
        .then(response => {
            if (response.ok) {
                
                window.location.href = `/users`; 
            } else {
                
                console.error('Error updating user.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        
    });
    deleteButton.addEventListener("click", async ()=>{
        const userId = editUserForm.getAttribute("user_id")
        await fetch(`/api/users/${userId}`, {
            method: "DELETE"
        })
    })
});
</script>